/* #output{
    margin-top: 20px;
    font-size: 20px;
}

input{
    width: 200px;
    margin: 5px;
}

body{
  height: 100vh;
}

#gameArea{
    width: 100%;
    height: 80%;
    border: 2px solid rgb(1, 1, 121);
    background-color: aliceblue;
    overflow: hidden;
    position: relative;
}

#score{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.target{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: fuchsia;
    border-radius: 50%;
    cursor: pointer;
}



  
  .hidden {
    display: none;
  }
  
  #successMessage {
    color: green;
    margin-top: 10px;
  }

  #box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
} */

body{
  text-align: center;
  margin: 0;
  padding: 20px;
  border-color: aliceblue;
}

.container{
  min-width: 400px;
  margin: 20 auto;
  padding: 20px;
  border-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1{
  margin-bottom: 20px;
}

#stopwatch-display{
  font-size: 40px;
  margin: 20px 0;
}

button{
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(73, 73, 222);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 50px;
}

button:hover{
  background-color: rgb(64, 64, 220);
}

button.hidden{
  display: none;
}